# Ignorer le fichier de configuration des secrets
.env

# Dossiers Python
__pycache__/
*.py[cod]
*.egg-info/

# Notebooks temporaires
.ipynb_checkpoints/

# Données lourdes ou sensibles
data/
*.csv
*.xlsx
*.json
!data/walmart_stock.csv

# Environnement virtuel
venv/
.env/
